!!!
html
  head
    title= title

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="http://js.pusher.com/1.12/pusher.min.js")



    script(src="/javascripts/LawrenceSans.js")
    script(src="/javascripts/launchpad.js")
    script(src="/javascripts/oversizedLaunchpad.js")
    script(src="/javascripts/button.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body

  script(src="/javascripts/calibrator.js")
  script(src="/javascripts/deathclock.js")
  script(src="/javascripts/instagram.js")
  script(src="/javascripts/stems.js")
  script(src="/javascripts/wave.js")
  script(src="/javascripts/drawing.js")
  script(src="/javascripts/twitter.js")
  script(src="/javascripts/turbo.js")
  script(src="/javascripts/modeselector.js")
  script(src="/javascripts/script.js")
